.main-text {
    /* width: fit-content; */
    display: flex;
    justify-content: space-between;
    margin: 100px 230px;
    max-height: 200px;
    /* position: relative; */
}

.main-text-el {
    width: 400px;
}

.main-text-top {
    display: flex;
    align-items: center;
}

.main-text-top > i {
    margin-right: 10px;
}

.main-text-top-typ {
    display: flex;
    flex-direction: column;
}

.main-text-top-big {
    /*30pt*/
    font-size: 22.5pt;
    color: #555555;
}

.main-text-top-small {
    /*18pt*/
    font-size: 13.5pt;
    color: #a3a1a1;
}

.main-text-par {
    font-size: 11pt;
    word-wrap: break-word;
    margin-top: 25px;
    color: #959393;
}

.logo-main-text {
    color: #b0b0b0;
    font-size: 60px;
}

/* .main-el {
    position: relative;
} */

.line {
    position: absolute;
    background-color: #b9b9b9;
}


.vert {
    width: 1px;
} 


.main-text-pos {
    height: 220px;
    position: relative;
    top: -275px;
    left: calc(-1*((100vw - 300% - 460px)/4.0));
}

.main-text-center-el > .main-text-top {
    /* border-left: 1px solid #b9b9b9; */
}

.phys-sec-pos {
    height: 510px;
    position: relative;
    /* left: -30px; */
    left: calc((100vw - 300% - 460px)/(-4));
    top: -176px;
}